<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Myserv</servlet-name>
        <servlet-class>servlet.Myserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>outFaculty</servlet-name>
        <servlet-class>servlet.outFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>outAlumni</servlet-name>
        <servlet-class>servlet.outAlumni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transact</servlet-name>
        <servlet-class>servlet.Transact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Myserv</servlet-name>
        <url-pattern>/Myserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>outFaculty</servlet-name>
        <url-pattern>/outFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>outAlumni</servlet-name>
        <url-pattern>/outAlumni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transact</servlet-name>
        <url-pattern>/Transact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
